body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s;
}

.container-main {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation {
  width: 18.75vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: black;
}

@media screen and (max-width: 765px) {
  .navigation {
    display: none;
  }
}

.brandname {
  width: fit-content;
  height: fit-content;
  color: whitesmoke;
  margin: 30px;
  padding-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
}

.navigation-links a {
  color: white;
  text-decoration: none;
  margin: 30px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  margin-right: auto;
  transition: 0.3s;
}

.navigation-links a:focus {
  outline: none;
}

.navigation-links :hover {
  color: #e83f71;
  opacity: 1;
  transition: 2;
}

.social-media-icons img {
  width: 30px;
  height: auto;
  filter: brightness(0) invert(1);
  padding: 5px;
  margin-left: 20px;
}

.social-media-icons img:hover {
  cursor: pointer;
}

.header {
  width: 80vw;
  height: 100vh;
  background-image: url(../assets/images/wallhaven-ym2qxx.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding-bottom: 70px;
}

@media screen and (max-width: 765px) {
  .header {
    width: 100vw;
  }
}

.header-body {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-heading {
  font-family: 'Cormorant Unicase', serif;
  font-size: 350%;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  padding-top: 50px;
}

.header-subtitle {
  width: 60%;
  font-size: 20px;
  color: white;
  text-align: center;
  justify-content: center;
  line-height: 40px;
  padding-bottom: 70px;
}

.header-btn-primary {
  width: 200px;
  height: fit-content;
  color: white;
  background-color: #e43368;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  padding: 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  opacity: 1;
}

.header-btn-primary:hover {
  background-color: #af3358;
}

.header-btn-primary:focus {
  outline: none;
}

.galery {
  width: 80vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  justify-content: space-between;
}

@media screen and (max-width: 765px) {
  .galery {
    width: 100%;
  }
}

.galery-picture {
  width: 33%;
  height: 325px;
  object-fit: cover;
  background-size: cover;
  margin-top: 5px;
}

.galery img {
  transition: 1s ease;
}
  
.galery img:hover{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  cursor: pointer;
  transition: 1s ease;
}

@media screen and (max-width: 765px) {
  .galery-picture {
    width: 50%;
    margin: auto;
  }
}

.testimonials {
  width: 80vw;
  height: 100%;
  margin-left: auto;
  padding-top: 30px;
  background-color: white;
}


.testimonial-title {
  width: 100%;
  height: 100%;
  color: rgb(66, 66, 66);
  font-family: 'Cormorant Unicase', serif;
  font-size: 350%;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.custom-testimonial {
  width: 100%;
  height: 80vh;
  display: flex;
}

.custom-caousel-data {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.custom-indicator-dot {
  margin-bottom: 70px;
}

.custom-indicator-dot li {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e83f71;
}

.custom-indicator-dot .active {
  background-color: grey;
}

.custom-box-content {
  width: 100%;
  height: 70vh;
}

.custom-box-content img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  border-radius: 50%; 
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

.custom-person {
  width: 70%;
  height: 50%;
  color: #787d7d;
}

.custom-person h5{
  color: rgb(66, 66, 66);
}

.custom-button-prev svg{
  margin-left: 100px;
}

.custom-button-next svg{
  margin-right: 100px;
}

.biography {
  width: 80vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  background-color: #262526;
}

.biography::before {
  content: "";
  display: block;
  margin-right: auto;
  width: 110px;
  height: 7px;
  background-color: #e83f71;
}

@media screen and (max-width: 765px) {
  .biography {
    width: 100vw;
  }
}

.biography-heading {
  width: 80%;
  height: 100%;
  color: white;
  font-family: 'Cormorant Unicase', serif;
  font-size: 350%;
  font-weight: 600;
  text-transform: uppercase;
  margin: 90px 0 40px 175px;
}

.biography-post {
  width: 100%;
  height: fit-content;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.biography-post img {
  width: 340px;
  height: 340px;
  object-fit: cover;
  background-size: cover;
  margin-left: 180px;
  border-radius: 5px;
}

.biography-text {
  width: 68%;
  height: fit-content;
  margin: 0 0 0 180px;
  color: white;
}

.biography-text h1 {
  width: 100%;
  height: fit-content;
  margin-top: 40px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.biography-text h2{
  font-size: 16px;
  line-height: 30px;
  color: #787d7d;
  margin-bottom: 20px;
}

.biography-text h2 .highlight {
  color: #af3358;
}

.biography-list {
  width: 60%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 180px;
  margin-top: 25px;
  margin-bottom: 130px;
}

.biography-list-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.check-mark-text {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
}

.check-mark-text img {
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  background-size: cover;
  color: transparent;
}

.check-mark-text h2 {
  font-size: 16px;
  margin-left: 20px;
  color: #787d7d;
}

.blog {
  width: 80vw;
  height: fit-content;
  margin-left: auto;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  align-items: center;
  background-color: white;
}

@media screen and (max-width: 765px) {
  .blog {
    width: 100%;
  }
}

.blog-heading {
  width: 80%;
  height: 100%;
  font-size: 350%;
  font-weight: 600;
  text-transform: uppercase;
  margin: 90px 0 40px 130px;
  color: rgb(66, 66, 66);
  font-family: 'Cormorant Unicase', serif;
}

.blog-items {
  width: 100%;
  height: 100%;
}

.blog-items-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 40px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-between;
}

.blog-items-container img {
  width: 245px;
  height: 220px;
  margin-left: 160px;
  object-fit: cover;
  background-size: cover;
}

.blog-items-container img:hover {
  cursor: pointer;
}

.container-content {
  width: 60%;
}

.container-content h1 {
  width: 80%;
  height: fit-content;
  text-transform: capitalize;
  font-size: 23px;
  margin-left: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container-content h2 {
  width: 60%;
  font-size: 16px;
  line-height: 30px;
  margin-left: 30px;
  color: #787d7d;
}

.contact {
  width: 80vw;
  height: fit-content;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  background-color: #262526;
}

.contact::before {
  content: "";
  display: block;
  margin-right: auto;
  width: 110px;
  height: 7px;
  background-color: #e83f71;
}

.contact-body {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-heading {
  width: 80%;
  height: fit-content;
  font-size: 350%;
  font-weight: 600;
  margin: 40px 0 40px 130px;
  text-transform: uppercase;
  font-family: 'Cormorant Unicase', serif;
  color: white;
}

.contact-items {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-row {
  width: 710px;
  display: flex;
  color: white;
}

.first-name {
  width: 345px;
  margin-left: 5px;
}

.last-name {
  width: 345px;
  margin-left: 5px;
}

.input-f {
  width: 345px;
  outline: none;
  border: none;
  border-bottom: 2px solid grey;
  background-color: transparent;
  color: white;
  font-size: medium;
  margin-top: 10px;
}

.input-l {
  width: 350px;
  outline: none;
  border: none;
  border-bottom: 2px solid grey;
  background-color: transparent;
  color: white;
  font-size: medium;
  margin-top: 10px;
}

.form-column {
  display: flex;
  flex-direction: column;
  width: 700px;
  color: white;
  margin-top: 10px;
}

.input {
  width: 700px;
  outline: none;
  border: none;
  border-bottom: 2px solid grey;
  background-color: transparent;
  color: white;
  font-size: medium;
  margin-top: 10px;
  margin-bottom: 20px;
}

::placeholder {
  color: grey;
}

.contact-button {
  width: 200px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: #e43368;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  margin-top: 30px;
  margin-left: 135px;
  margin-bottom: 80px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.contact-button:hover {
  background-color: #af3358;
}

.contact-button:focus {
  outline: none;
}

.footer {
  width: 80vw;
  margin-left: auto;
  text-align: center;
  height: 50px;
  background-color: #0a0a0a;
  font-size: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-bottom: 50px;
  padding-top: 40px;
  color: white;
}

.footer h2 {
  font-size: 18px;
  color: #787d7d;
}

@media screen and (max-width: 765px) {
  .footer {
    width: 100%;
  }
}
